<a href="https://colab.research.google.com/github/BrookeKneebush/2nd-Attempt-BK-Experiments-05.03.22/blob/main/Copy_of_01_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables and Values

[Run this notebook on Colab](https://colab.research.google.com/github/AllenDowney/ElementsOfDataScience/blob/master/01_variables.ipynb) or  
[Run this notebook on Sagemaker Studio Lab](https://studiolab.sagemaker.aws/import/github/AllenDowney/ElementsOfDataScience/blob/master/01_variables.ipynb) or  
[Download this notebook](https://github.com/AllenDowney/ElementsOfDataScience/raw/master/01_variables.ipynb).

Data science is the use of data to answers questions and guide decision making.
For example, a topic of current debate is whether we should raise the minimum wage in the United States.
Some economists think that raising the minimum wage would raise families out of poverty; others think it would cause more unemployment.
But economic theory can only take us so far.
At some point, we need data.

A successful data science project requires three elements:

* A question: For example, what is the relationship between the minimum wage and unemployment?

* Data: To answer this question, the best data would be results from a well designed experiment.  But if we can't get ideal data, we have to work with what we can get. 

* Methods: With the right data, simple methods are often enough to find answers and present them clearly.  But sometimes we need more specialized tools.

In an ideal world, we would pose a question, find data, and choose the appropriate methods, in that order.
More often, the process is iterative.  We might start with one question, get stuck, and pivot to a different question.
Or we might explore a new dataset and discover the questions it can answer.
Or we might start with a tool and look for problems it can solve.
Most data science projects require flexibility and persistence.

The goal of this book is to give you the tools you need to execute a data science project from beginning to end, including these steps:

* Choosing questions, data, and methods that go together.

* Finding data or collecting it yourself.

* Cleaning and validating data.

* Exploring datasets, visualizing distributions and relationships between variables.

* Modeling data and generating predictions.

* Designing data visualizations that tell a compelling story.

* Communicating results effectively.

We'll start with basic programming concepts and work our way toward data science tools.

I won't assume that you already know about programming, statistics, or data science. When I use a term, I try to define it immediately, and when I use a programming feature, I try to explain it clearly.

This book is in the form of Jupyter notebooks. Jupyter is a software development tool you can run in a web browser, so you don't have to install any software. A Jupyter notebook is a document that contains text, Python code, and results. So you can read it like a book, but you can also modify the code, run it, develop new programs, and test them.

The notebooks contain exercises where you can practice what you learn. I encourage you to do the exercises as you go along.

The topics in this chapter are:

* Using Jupyter to write and run Python code.

* Basic programming features in Python: variables and values.

* Translating formulas from math notation to Python.

Along the way, we'll review a couple of math topics I assume you have seen before, logarithms and algebra.

## Jupyter

Jupyter is a software development environment, which means you can use it to write and run programs in Python and other programming languages.

A Jupyter notebook is made up of cells, where each cell contains either text or code you can run.

If you are running this notebook on Colab, you should see buttons in the top left that say "+ Code" and "+ Text".  The first one adds code cell and the second adds a text cell.

If you want to try them out, select this cell by clicking on it, then press the "+ Text" button.  A new cell should appear below this one.

Add some text to the cell.  You can use the buttons to format it, or you can mark up the text using [Markdown](https://www.markdownguide.org/basic-syntax/).  When you are done, hold down Shift and press Enter, which will format the text you just typed and then move to the next cell.

If you select a Code cell, you should see a button on the left with a triangle inside a circle, which is the icon for "Play".  If you press this button, Jupyter runs the code in the cell and displays the results.

When you run code in a notebook for the first time, you might get a message warning you about the things a notebook can do.  If you are running a notebook from a source you trust, which I hope includes me, you can press "Run Anyway".

Instead of clicking the "Play" button, you can also run the code in a cell by holding down Shift and pressing Enter.

## Numbers

Python provides tools for working with many kinds of data, including numbers, words, dates, times, and locations (latitude and longitude).

Let's start with numbers.  Python can work with several types of numbers, but the two most common are:

* `int`, which represents integer values like `3`, and

* `float`, which represents numbers that have a fraction part, like `3.14159`.

Most often, we use `int` to represent counts and `float` to represent measurements.
Here's an example of an `int` and a `float`:

In [ ]:
3

3

In [ ]:
3.14159

3.14159

In [ ]:
1234.5

1234.5

 `float` is short for "floating-point", which is the name for the way these numbers are stored.

**Exercise:** Create a code cell below this one and type in the following number:  `1.2345e3`

Then run the cell.  The output should be `1234.5`

The `e` in `1.2345e3` stands for "exponent".  This way of writing numbers is a version of scientific notation that means $1.2345 \times 10^{3}$.  If you are not familiar with scientific notation, you can read about it at <https://en.wikipedia.org/wiki/Scientific_notation>.

## Arithmetic

Python provides operators that perform arithmetic.  The operators that perform addition and subtraction are `+` and `-`:

In [ ]:
3 + 2 - 1

4

The operators that perform multiplication and division are `*` and `/`:

In [ ]:
2 * 3

6

In [ ]:
2 / 3

0.6666666666666666

And the operator for exponentiation is `**`:

2**3

Unlike math notation, Python does not allow "implicit multiplication".  For example, in math notation, if you write $3 (2 + 1)$, that's understood to be the same as $3 \times (2+ 1)$.
Python does not allow that notation.
If you want to multiply, you have to use the `*` operator.

Try running this code to see what error you get.

```
3 (2 + 1)
```

In this example, the error message is not very helpful, which is why I am warning you now.

In [ ]:
3 * (2 + 1)

9

The arithmetic operators follow the rules of precedence you might have learned as "PEMDAS":

* Parentheses before
* Exponentiation before
* Multiplication and division before
* Addition and subtraction.

So in this expression:

In [ ]:
1 + 2 * 3

7

The multiplication happens first.  If that's not what you want, you can use parentheses to make the order of operations explicit:

In [ ]:
(1 + 2) * 3

9

**Exercise:** Write a Python expression that raises `1+2` to the power `3*4`.  The answer should be `531441`.

Note: in the cell below, it should say

```
# Solution goes here
```

Lines like this that begin with `#` are "comments"; they provide information, but they have no effect when the program runs.

When you do this exercise, you should delete the comment and replace it with your solution.

In [ ]:
(1 + 2)** (3*4)

531441

## Math functions

Python provides functions that compute all the usual mathematical functions, like `sin` and `cos`, `exp` and `log`.
However, they are not part of Python itself; they are in a **library**, which is a collection of functions that supplement the Python language.

Actually, there are several libraries that provide math functions; the one we'll use is called NumPy, which stands for "Numerical Python", and is pronounced "num pie".
Before you can use a library, you have to **import** it.  Here's how we import NumPy:

In [13]:
import numpy as np

It is conventional to import `numpy` as `np`, which means we can refer to it by the short name `np` rather than the longer name `numpy`.
Names like this are case-sensitive, which means that `numpy` is not the same as `NumPy`.  So even though the name of the library is NumPy, when we import it we have to call it `numpy`.

If you run this code in the following cell, you should get an error:

```
import NumPy as np
```

In [ ]:
import NumPy as np

ModuleNotFoundError: ignored

But assuming we import `np` correctly, we can use it to read the value `pi`, which is an approximation of the mathematical constant $\pi$.

In [ ]:
np.pi

3.141592653589793

The result is a `float` with 16 digits.  As you might know, we can't represent $\pi$ with a finite number of digits, so this result is only approximate. 

`numpy` provides `log`, which computes the natural logarithm

In [ ]:
np.log(100)

4.605170185988092

And `exp`, which raises the constant `e` to a power.

In [ ]:
np.exp(1)

2.718281828459045

**Exercise:** Use these functions to confirm the mathematical identity $\log(e^x) = x$, which should be true for any value of $x$.

With floating-point values, this identity should work for values of $x$ between -700 and 700.  What happens when you try it with larger and smaller values?

In [ ]:
np.log(np.exp(-600))

-600.0

As this example shows, floating-point numbers are finite approximations, which means they don't always behave like math.

As another example, let's see what happens when you add up `0.1` three times:

In [ ]:
0.1 + 0.1 + 0.1

0.30000000000000004

The result is close to `0.3`, but not exact.
We'll see other examples of floating-point approximation later, and learn some ways to deal with it.

## Variables

A **variable** is a name that refers to a value.
The following statement assigns the value `5` to a variable named `x`:

In [ ]:
x = 5

The variable we just created has the name `x` and the value `5`.

If a variable name appears at the end of a cell, Jupyter displays its value.

In [ ]:
x

5

If we use `x` as part of an arithmetic operation, it represents the value `5`:

In [ ]:
x + 1

6

In [ ]:
x**2

25

We can also use `x` with `numpy` functions:

In [ ]:
np.exp(x)

148.4131591025766

Notice that the result from `exp` is a `float`, even though the value of `x` is an `int`.

**Exercise:** If you have not programmed before, one of the things you have to get used to is that programming languages are picky about details.  Natural languages, like English, and semi-formal languages, like math notation, are more forgiving.

As an example, in math notation, parentheses and square brackets mean the same thing, you can write

$\sin (\omega t)$

or

$\sin [\omega t]$

Either one is fine.  And you can leave out the parentheses altogether, as long as the meaning is clear:

$\sin \omega t$

In Python, every character counts.  For example, the following are all different:

```
np.exp(x)
np.Exp(x)
np.exp[x]
np.exp x
```

While you are learning, I encourage you to make mistakes on purpose to see what goes wrong.  Read the error messages carefully.  Sometimes they are helpful and tell you exactly what's wrong.  Other times they can be misleading.  But if you have seen the message before, you might remember some likely causes.

In the next cell, try out the different versions of `np.exp(x)` above, and see what error messages you get.

In [ ]:
np.exp(x)

148.4131591025766

**Exercise:** Search the NumPy documentation to find the function that computes square roots, and use it to compute a floating-point approximation of the golden ratio:

$\phi = \frac{1 + \sqrt{5}}{2}$ 

Hint: The result should be close to `1.618`.

In [ ]:
phi = (1 + np.sqrt(5)) / 2
phi

1.618033988749895

## Save your work

If you are running on Colab and you want to save your work, now is a good time to press the "Copy to Drive" button (near the upper left), which saves a copy of this notebook in your Google Drive.

If you want to change the name of the file, you can click on the name in the upper left.
If you don't use Google Drive, look under the File menu to see other options.

Once you make a copy, any additional changes you make will be saved automatically, so now you can continue without worrying about losing your work.

## Calculation with Variables

Now we'll use variables to solve a problem involving compound interest.
It might not be the most exciting example, but it uses everything we have done so far, and it reviews exponentiation and logarithms, which we are going to need.

If we start with a principal sum, $P$, and earn compounded interest, the total accumulated value, $V$, at the end of time $t$ is:

$V=P\left(1+{\frac {r}{n}}\right)^{nt}$

where $r$ is the annual interest rate and $n$ is the compounding frequency.

For example, if you deposit \$2,100 in a bank paying an annual interest rate of 3.4\% compounded quarterly, we can compute the balance after 7 years by defining these variables:

In [1]:
P = 2100
r = 0.034
n = 4
t = 7

And computing the total accumulated value like this.

In [6]:
P * (1 + r/n)**(n*t)

2661.6108980682593

**Exercise:** Continuing the previous example, suppose you start with the same principle and the same interest rate, but interest is compounded twice per year, so `n = 2`.
What would the total value be after 7 years?  Hint: we expect the answer to be a bit less than the previous answer.

In [7]:
P * (1 + r/2)**(2*t)

2658.965091277534

**Exercise:** If interest is compounded continuously, the value after time $t$ is given by the formula:

$V=P~e^{rt}$

Translate this equation into Python and use it compute the value of the investment in the previous example with continuous compounding.  Hint: we expect the answer to be a bit more than the previous answers.

In [14]:
import numpy as np
P*np.exp(r * t)

2664.2893049323125

**Exercise** Applying your algebra skills, solve the previous equation for $r$.  Now use the formula you just derived to answer this question.

"Harvard's tuition in 1970 was \$4,070 (not including room, board, and fees).  

"In 2019 it was \$46,340.  What was the annual rate of increase over that period, treating it as if it had compounded continuously?"

In [15]:
# V = Pe**rt
# log(V) = log(P) * log(exp(rt))
# log(V) = log(P) * r * t
# r * t = log(V)
#r = log(V) / (log(P) * t)
import numpy as np
r = np.log(46340) / (np.log(4070) * 49)
r

0.02638069036079737

## Summary

This chapter introduces variables, which are names that refer to values, and two kinds of values, integers and floating-point numbers.

It presents mathematical operators, like `+` for addition and `*` for multiplication, and mathematical functions like `log` for logarithms and `exp` for raising `e` to a power.

In the next chapter, we'll see additional data types for representing letters and words, dates and times, and latitude and longitude.

## A little more Jupyter

Here are a few tips on using Jupyter to compute and display values.

Generally, if there is a single expression in a cell, Jupyter computes the value of the expression and displays the result.
For example, we've already seen how to display the value of `np.pi`:

In [ ]:
np.pi

Here's a more complex example with functions, operators, and numbers:

In [ ]:
1 / np.sqrt(2 * np.pi) * np.exp(-3**2 / 2)

If you put more than one expression in a cell, Jupyter computes them all, but it only display the result from the last:

In [ ]:
1
2 + 3
np.exp(1)
(1 + np.sqrt(5)) / 2

If you want to display more than one value, you can separate them with commas:

In [ ]:
1, 2 + 3, np.exp(1), (1 + np.sqrt(5)) / 2

That result is actually a tuple, which you will learn about in the next chapter.

Here's one last Jupyter tip: when you assign a value to variable, Jupyter does not display the value:

In [ ]:
phi = (1 + np.sqrt(5)) / 2

So it is idiomatic to assign a value to a variable and immediately display the result:

In [ ]:
phi = (1 + np.sqrt(5)) / 2
phi

**Exercise:** Display the value of $\phi$ and its inverse, $1/\phi$, on a single line.

In [ ]:
# Solution goes here

## The Colab mental model

Congratulations on completing the first notebook!

Now that you have worked with Colab, you might find it helpful to watch this video, where I explain a little more about how it works:

In [ ]:
from IPython.display import YouTubeVideo    

YouTubeVideo("eIY-PsYBrPs")

*Elements of Data Science*

Copyright 2021 [Allen B. Downey](https://allendowney.com)

License: [Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International](https://creativecommons.org/licenses/by-nc-sa/4.0/)